// Переопределяет свойство font-size.
// font-size: <font-size> <line-height>
font-size($font-size, $line-height = false)
  line-height: $line-height if isset($line-height)
  font-size: $font-size if isset($font-size)