// Переопределение свойства overflow.
// overflow: ... | ellipsis
overflow($value, $important = false)
  
  if $value is ellipsis
        
    {'overflow'}: with-important(hidden, $important)
    text-overflow: ellipsis
    white-space: nowrap
  
  else
    
    {'overflow'}: with-important($value, $important)